body{
    background-color: rgb(231, 249, 252) !important;
    font-family: 'Rubik', sans-serif !important;
}

.container{
    background-color: rgb(231, 249, 252) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card{
    position: relative;
    width: 30rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.quiz-card > img{
    max-height: 200px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(79, 176, 195) !important;
    color: white !important;
    border: none !important;
}

.quiz-answer-card:hover{
   cursor: pointer; 
   background-color: rgba(0, 0, 0, 0.06);
}

.bg-success, .bg-danger{
    color: white !important;
}

#endscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress{
    border-radius: 0px !important;
}

.progress-bar{
    background-color: rgb(79, 176, 195) !important;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.quiz-menu{
    display: flex;
    flex-direction: column;
    background-color: rgb(125 , 221, 235);
    border-top-left-radius:  0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.quiz-menu-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-menu-img img{
    height: 120px;
    margin: 30px 30px 0 30px;
}

.quiz-menu-img span{
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
}

.main-content{
    display: flex;
    position: relative;
    margin: 50px 0;
}

.quiz-menu-categories{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

.transition-text{
    position: relative;
    margin-top: 30px; 
    letter-spacing: 5px
}

.transition-text::after{
    content:"";
    position:absolute;
    background-color: rgb(79, 176, 195);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.transition-text:hover{
    color: #ffffff; 
    cursor: pointer;
    font-weight: 500;
}

.transition-text:hover::after{
    width: 50%;
}

.activeLink{
    color: #ffffff; 
    font-weight: 500;    
    cursor: pointer;
}

.activeLink::after{
    position:absolute;
    background-color: rgb(79, 176, 195);
    height: 3px;
    width: 50%;
    left: 0;
    bottom: -5px;
}

.question-selection{
    display: flex !important;
    align-items: center;
}

.question-selection span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 176, 195);
    color: white;
    border-radius: 0.375rem;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin: 0.5rem;
}

.endscreen-img{
    display: block;
    margin: 0 auto 20px auto ;
}

.trophy{
    height: 60px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(79, 176, 195);
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.burger {
    margin: 20px 20px 0 0;
    position:absolute;
    right: 0;
    display: none;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;  
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
    transform: translateX(0) !important;
}


@media (max-width: 680px) {
    body{
        font-size: 0.9rem !important;
    }

    .container{
        margin: 10px 0 !important;
    }

    .quiz-menu{
        /* display: none; */
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-160%);
        z-index: 1;
        transition: transform 0.5s ease-in-out;
    }

    .quiz-card{
        max-width: 90vw;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .endscreen-img{
        height: 22vh;
    }

    .trophy{
        height: 11vh;
    }

    .card-body{
        word-break: break-all !important;
    }
  }
